.divPrincipal {
    text-align: left;
    padding: 5px;
    background-color: #f7faff ;

    width: 230px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;

    .lblTextoObligatorios {
        font-size: 12px;
        color: #d8dcdf;
    }

    .lblInputs {
        color: #25489B;
    }

    .divInputs {
        margin-top: 15px;
    }

    .btn-primary {
        margin-top: 10px;
        width: 130px;
        text-align: center;
        border-radius: 25px;
    }

    .btn-disabled{
        background-color: #eaedf2;
        margin-top: 10px;
        width: 130px;
        text-align: center;
        border-radius: 25px;
    }
}
